.t1{
    font-family: "微软雅黑";
    font-size: 26px;
    color: #2aabd2;
    margin-left: 500px;
}
.tab{
    margin-left: 150px;
}
.info{
    margin-left: 150px;
}
.querystu{
    margin-left: 150px;
}
.in1{
    width: 50%;
}